apiVersion: v1
kind: Config
clusters:
- name: kcmcluster
  cluster:
    certificate-authority-data: {{ lookup('file', './credentials/ssl/ca.pem') | b64encode }}
    server: https://{{api_server_ip}}:443
users:
- name: kubelet
  user:
    client-certificate-data: {{ lookup('file', './credentials/ssl/admin.pem') | b64encode }}
    client-key-data: {{ lookup('file', './credentials/ssl/admin-key.pem') | b64encode }}
contexts:
- context:
    cluster: kcmcluster
    user: kubelet
  name: kubelet-cluster.kcm
current-context: kubelet-cluster.kcm
