.cache/
.tox/
*.egg-info/
**/__pycache__/*
*.pyc
terraform/workdir/.kargo/
terraform/workdir/cluster.yml
terraform/workdir/mvp_inventory/ansible_inventory
terraform/workdir/kubectl
terraform/workdir/config.yml
terraform/workdir/credentials/
terraform/workdir/mvp_inventory/group_vars/all.yml.old
**/.terraform
**/ssh_keys
terraform/vagrant_env/inventory
**/terraform.tfstate*
**/terraform_hosts
**/cluster.retry
**/post_deploy.retry
