[Unit]
Description=Docker distribution container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill {{docker_reg_container_name}}
ExecStartPre=-/usr/bin/docker rm -f {{docker_reg_container_name}}
ExecStartPre=-/usr/bin/docker pull registry:2

ExecStart=/usr/bin/docker run \
 -v {{docker_reg_config_dir}}:/etc/docker/registry \
 --net host \
 -v {{docker_reg_storage_dir}}:/var/lib/registry \
 -p {{docker_reg_port}}:5000 \
 --name {{docker_reg_container_name}} registry:2

ExecStop=-/usr/bin/docker stop {{docker_reg_container_name}}

[Install]
WantedBy=local.target
