---

- fail:
    msg: "variable {{ item }} is not set! "
  when: "{{ item }} is not defined or {{ item }}== ''"
  with_items:
    - docker_reg_addr


- name: create registry storage directory
  file:
    path: "{{ docker_reg_storage_dir }}"
    state: directory
    recurse: yes


- name: create registry config directory
  file:
    path: "{{ docker_reg_config_dir }}"
    state: directory
    recurse: yes


- name: prepare config file
  template:
    src: docker_registry_config.j2
    dest: "{{ docker_reg_config_dir }}/config.yml"


- name: prepare systemd unit file
  template:
    src: registry.service.j2
    dest: /etc/systemd/system/registry.service


- name: reload systemd
  shell: systemctl daemon-reload


- name: start service
  service:
    name: registry.service
    enabled: yes
    state: restarted